* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: auto;
  box-sizing: border-box;
}
input {
  padding: 12px 14px;
  border: 0;
  color: #666;
  font-size: 14px;
  font-weight: 600;
  outline: 0;
  background: #ececec;
  display: block;
  position: relative;
  width: 200px;
}
input[type='submit'] {
  cursor: pointer;
}
